html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-family: "Sunday Vacay Personal Use Only";
  margin: 0;
}

.the {
  color: black;
  font-size: 54px;
}

.matcha {
  color: #286e37;
  font-size: 64px;
}

.logo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid black; /* Inner line */
  outline: 2px solid black; /* Outer line */
  outline-offset: -12px; /* Space between borders */
  background: #fff;
  align-content: center;
  margin: 0 auto;
}

.header-content {
  align-self: center;
  text-align: center;
  font-family: "ChronicaPro-Medium";
  margin: 150px 20px;
  display: grid;
  grid-template-columns: 1fr; /* Two equal columns */
  gap: 30px;
}

nav {
  background-color: #fff;

  height: 60px;
  color: #286e37;
  font-family: "Sunday Vacay Personal Use Only";
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

nav a {
  text-decoration: none;
  color: #286e37;
}

nav a:hover {
  text-decoration: underline;
}
.part2 {
  display: flex; /* Use flex instead of inline */
  justify-content: flex-end;
  align-items: center;
  font-size: 78px;
}

h3 {
  display: inline;
  text-align: center;
  margin: 0 auto;
}
header {
  background-image: url(matcha.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px;
}

.menu-section {
  padding: 60px 30px;
  background-color: white;
  text-align: center;
}

.menu-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: black;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-item {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item img {
  width: 90%;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 15px;
}

.menu-item h3 {
  font-size: 1.2rem;
  margin: 10px 0 5px;
  color: #286e37;
  font-family: "ChronicaPro-Bold";
}

.menu-item p {
  font-size: 0.95rem;
  color: black;
  font-family: "ChronicaPro-Regular";
}

.menu-section h1 {
  color: #286e37;
}

.kontakt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
}

.hodiny {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adresa {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-image: linear-gradient(
      rgba(40, 110, 55, 0.5),
      rgba(40, 110, 55, 0.5)
    ),
    url(matcha2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0px;
  color: white;
  margin-top: 120px;
}

span {
  font-family: "Sunday Vacay Personal Use Only";
  font-size: 30px;
}

.gallery {
  text-align: center;
  color: #286e37;
  margin-top: 60px;
}

.gallery h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #2e4c3c;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.grid-gallery img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.grid-gallery img:hover {
  transform: scale(1.03);
}
